
@{
    ViewBag.Title = "Azure Media Services";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Upload New Video", "Upload", "Video")
    <br />
    @Html.ActionLink("Play Videos", "Index", "Video")
</p>

