@{
    ViewBag.Title = "Home";
}

<div class="well" style="margin-top: 20px;">
    @Html.ActionLink("Upload New Video", "Upload", "Video")
    <br />
    @Html.ActionLink("Play Videos", "Index", "Video")
</div>