@{
    ViewBag.Title = "Home";
}

<h2>Azure Media Services</h2>

@Html.ActionLink("Upload Video", "upload", "video", null, new { @class = "btn btn-default" })
@Html.ActionLink("Uploaded Videos", "index", "video", null, new { @class = "btn btn-default" })